*{
    box-sizing: border-box;
}

body{
	overflow-x:hidden;
	background: #eeeeee;
	font-family: 'Varela Round', sans-serif;
}

#navigation {
    background: lightgray;
}

#navigation {
    padding: 0;
    margin: 0;
}

#navigation ul {
    padding: 0;
    margin: 0;
}

#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navi{
    height: 100vh;
}

.navi ul {
    list-style: none;
}

.navi .ss-menu a {
    border: none;
}

.navi a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: gray;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    font-size: 20px;
    margin-right: 15px;
    color: #f6bd11;
}

.navi .active a {
    background: #abb2c3;
    
}

.navi a:hover {
    background: #a2b4df none repeat scroll 0 0;
    border-left: 5px solid #FFC312;
    display: block;
    padding-left: 15px;
}

.profile-mob{
    display: none;
}

.profile-desk{
    display: block;
}




@media screen and (min-width: 320px) and (max-width: 480px){

    .profile-mob{
        display: block;
    }
    
    .profile-desk{
        display: none;
    }

    
}